<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Volunteer | Careworks Foundation</title>
        <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
        <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
        <style>
  /* Style the input field */
  #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
  </style>
</head>





</body>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('index')}}">Careworks Foundation</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="display:{{hide}}"><a href = "{{url_for('loginpage')}}"><span class = "glyphicon glyphicon-shopping-cart" {{hide}}></span> Login </a></li>
                        <li style="display:{{hide}}"><a href = "{{url_for('signuppage')}}"><span class = "glyphicon glyphicon-shopping-cart" {{hide}}></span> Signup  </a></li>
                        <li style="display:{{show}}"><a href = "{{url_for('dashboard')}}"><span class = "glyphicon glyphicon-user"{{show}}></span> Dashboard </a></li>
                        <li style="display:{{show}}"><a href = "{{url_for('index')}}"><span class = "glyphicon glyphicon-log-in"{{show}}></span> Logout</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="container" id="content">

            <!-- Jumbotron Header -->
            <div class="jumbotron home-spacer" id="products-jumbotron">
                <h3>Careworks Foundation welcomes you</h3>
                <p>Come and join us help create better lives driven by the belief that education and health are the pillars.</p>

            </div>
            <hr>
                <div class="container">

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Location
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                     <li><a href="#">Kormangla</a></li>
                     <li><a href="#">Marathalli</a></li>
                     <li><a href="#">Electronic City</a></li>
                    <li><a href="#">Mattikeri</a></li>
                <li><a href="#">Yelahanka</a></li>
    </ul>
  </div>
</div>
        <br>

            <div class="row text-center" id="cameras">
                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event1.jpg')}}" alt="">
                        <div class="caption">
                            <h3> Painting </h3>
                            <p>Date: 7th July 2019 </p>
                            <p>Location: Kormangala, Bangalore </p>
                            <p>Volunteers required: 10 </p>
                            <p><a href="{{url_for('untitled')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event2.jpg')}}" alt="">
                        <div class="caption">
                            <h3> Teaching </h3>
                            <p>Date: 8th July 2019 </p>
                            <p>Location: Yelahanka, Bangalore </p>
                            <p>Volunteers required: 5 </p>
                            <p><a href="{{url_for('untitled')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event3.jpg')}}" alt="">
                        <div class="caption">
                            <h3> Cleaning</h3>
                            <p>Date: 9th July </p>
                            <p>Location: Mattikeri, Bangalore </p>
                            <p>Volunteers required: 6</p>
                            <p><a href="{{url_for('untitled')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event4.jpg')}}" alt="">
                        <div class="caption">
                            <h3>Wall Painting</h3>
                            <p>Date: 10th July </p>
                            <p>Location: Koramangla, Bangalore</p>
                            <p>Volunteers required:15</p>
                            <p><a href="{{url_for('loginpage')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center" id="watches">
                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event1.jpg')}}" alt="">
                        <div class="caption">
                            <h3>Painting </h3>
                            <p>Date: 12th July 2019 </p>
                            <p>Location: Kormangala, Bangalore </p>
                            <p>Volunteers required: 10 </p>
                            <p><a href="{{url_for('untitled')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 home-feature">
                    <div class="thumbnail">
                        <img src="{{url_for('static',filename='img/event2.jpg')}}" alt="">
                        <div class="caption">
                            <h3>Cleaning</h3>
                            <p>Date: 19th July </p>
                            <p>Location: Mattikeri, Bangalore </p>
                            <p>Volunteers required: 6</p>
                            <p><a href="{{url_for('untitled')}}" role="button" class="btn btn-primary btn-block">Volunteer now</a></p>
                    </div>
                </div>




            </div>
            <hr>
        </div>
        <footer>
            <div class="container">
                <center>
                    <p>Copyright &copy; Careworks Foundation. All Rights Reserved  |  Contact Us: +91 90000 00000</p>
                </center>
            </div>
        </footer>
    </body>
</html>
